*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai Looped', sans-serif;
   
}

.main{
    width: 360px;
    margin:2rem auto;
    height:550px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    border-radius:50px;
    overflow: hidden;
    position: relative;
}

.imag{
    height:230px;
}

.imag img{
    width: 100%;
    overflow: hidden;
}
.loginn{
    margin: 2rem;
    text-align:center;
}
.loginn p{
    text-align: left;
    margin-left: 4.5rem;
    font-size: .9rem;
    margin-bottom:.5rem;
}
.footer{
    margin-top:1rem;
    text-align:center;
    background: rgb(201, 188, 188);
    height:120px;
    
}
.regis{
    align-items: center;
}
.regis p{
    color:#fff;
    padding-top:2.5rem;
}

.regis a{
    color:#333;
    text-decoration:none;
    margin-left: 3px;
    
    
}
.regis a:hover{
    color:rgb(228, 44, 44);

}
.loginn a{
    text-decoration:none;
}